VITE_FIREBASE_API_KEY=AIzaSyCAe5JZQFQhDpzV-lAjiZGzP-uqA5f5R6E
VITE_FIREBASE_AUTH_DOMAIN=hospitalmanagement-system-ke.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=hospitalmanagement-system-ke
VITE_FIREBASE_STORAGE_BUCKET=hospitalmanagement-system-ke.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=186525212144
VITE_FIREBASE_APP_ID=1:186525212144:web:56c00c66dfb5bcb1ee5135
VITE_FIREBASE_MEASUREMENT_ID=G-KS1RHFS83E
